<!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>О Спортивной селекции</h2>
            </div>
        </div>

        <div class="row text-left person">
          <div class="col-md-4 col-lg-3 visible-md visible-lg col-lg-offset-2">
            <%= image_tag('ahmetov_ildus.jpg') %>
          </div>

          <div class="col-md-6 col-lg-4 col-xs-12 features">
            <a href="http://runnersclub.ru/tags/%D0%98%D0%BB%D1%8C%D0%B4%D1%83%D1%81%20%D0%90%D1%85%D0%BC%D0%B5%D1%82%D0%BE%D0%B2">Ахметов Ильдус Ильясович</a> – доктор медицинских наук, заведующий лабораторией молекулярной генетики 
            Казанского ГМУ, директор учебно-научного 
            центра технологий подготовки спортивного 
            резерва Поволжской ГАФКСиТ,
            врач клинической лабораторной диагностики: 
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <p>
              «Наша индивидуальность – это не только внешность, интеллект, физические качества, но и, в огромной степени, здоровье, состояние которого определяется уникальной комбинацией генов, полученных от родителей, и которые, пронеся через всю жизнь, мы передадим своим детям.
            </p>

            <p>
              В современном мире на одно место олимпийского чемпиона претендуют миллионы занимающихся данным видом спорта, и все они усердно тренируются. Таким образом, в дело вступают гены, до 70 процентов определяющие будущего чемпиона в личных видах спорта, и до 50 процентов – в командных. Сочетание определенных генетических параметров, также называемое полиморфизмом генов, указывает на развитие физических и психических качеств и способно предопределить появление чемпиона в том или ином виде спорта.
            </p>

            <p>
              Эти сочетания (полиморфизмы) могут быть изучены с помощью молекулярно-генетического анализа, который с высокой прогностической способностью позволяет выявить талантливых детей (потенциальных чемпионов) и спортивных гениев (потенциальных рекордсменов мира).
            </p>
                
            <p>                              
              На основании проводимой генетической диагностики составляется индивидуальная генетическая карта испытуемого – данные о вариациях (полиморфизме) в определенных участках генома, которые являются маркерами предрасположенности к развитию определенных физических качеств и факторами риска для здоровья или наоборот, защитными факторами. 
            </p>
            
            <p>
              Полученная информация может существенно повысить эффективность спортивной ориентации и отбора, а также помочь в оптимизации тренировочного процесса и бытовых процессов в повседневной жизни. Ее преимуществом является возможность тестирования сразу после рождения ребенка, а значит, прогноз развития спортивных способностей и рисков для здоровья можно составить очень рано».
            </p>
            
          </div>
        </div>
    </section>
