<!-- Contact Section -->
<section id="price" class="container price-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Цены</h2>
            <p>
              Стоимость подготовки индивидуальной генетической карты, в частности, взятие пробы, лабораторное исследование и экспертное заключение, составляет 12 000 рублей.
            </p>
            <p>
              Информацию о работе в регионах Вы можете узнать по электронной почте и контактным телефонам:<br/> 
              <a href="mailto:sport.selection@yandex.ru">sport.selection@yandex.ru</a>,<br/>
              8-923-248-3102, <br/>
              8 (383) 381-35-71.
            </p>
        </div>
    </div>

    <%= render 'footer'%>
</section>
