<!-- Download Section -->
<section id="work" class="text-center">
    <div class="container download-section">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>Как мы работаем</h2>
          <ul>
            <li> 
              <p>Для генетического анализа проводится безболезненный соскоб клеток внутренней поверхности щеки, из которых выделяют ДНК.
              </p>
            </li>
            <li>
              <p>
                Далее в лаборатории полученная ДНК расшифровывается – мы сотрудничаем с лабораторией генной диагностики Центра Новых Медицинских Технологий в Новосибирском Академгородке (лицензия 54-01-000-129 от 12.05.2005).
              </p> 
            </li>
            <li>
              <p>
                Результаты передаются Ильдусу Ильясовичу Ахметову для интерпретации: анализируется расшифрованный код ДНК и составляется индивидуальная генетическая карта испытуемого. 
              </p>
            </li>
          </ul>
          <p>
              Индивидуальная генетическая карта имеет огромную практическую значимость, поскольку дает возможность человеку узнать потенциально сильные и слабые места своего организма. Информация о генетическом полиморфизме позволит правильно организовать свою жизнь: работу, быт, отдых, занятия спортом, питание и своевременно предпринять соответствующие профилактические меры в отношении факторов риска для здоровья. 
          </p>

          <a href="Primer_individualnoy_geneticheskoy_karty.pdf" target="_blank" class="btn btn-default btn-lg">Пример индивидуальной генетической карты</a>
          
      </div>
    </div>
</section>
