<!-- Download Section -->
<section id="work" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Как мы работаем</h2>
                <p>
                	1 - Берем у вас пробу (ватной палочкой да по щеке)<br/>
                	2 - Генный анализ - мы сотрудничаем с лабораторией ООО "ДНКашечка" при СоРАН<br/>
                	3 - Интерпретация результатов анализа - Ильдусян<br/>
                	Кстати, здесь на фоне тоже будет картинка - я пока не придумал какая
                </p>
                <p>
               	 <a href="#" class="btn btn-default btn-lg">Пример заключения</a>
            		</p>
            </div>
        </div>
    </div>
</section>
